.hp-sectionBg {
    background: #222222;
  }

.hp-section4bg {
  background: #FFF8F5;
}
.letter-spacing {
  letter-spacing: 0.2em;
}
.text-orange {
  color:#FF5C00;
  border-color: #FF5C00;
}
.green {
  color: #049A01;
  background: #F0FFEE;
}

.blue {
  color: #0D019A;
  background: #EEF8FF;

}

.height-700 {
  height: 700px;
}
